# Archivos de Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Logs
*.log
logs/

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/

# Configuración sensible
application-local.yml
application-dev.yml
*.env
.env.local
